<div id="content-wrapper">
 
  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Overview</li>
    </ol>

    <!-- Icon Cards-->
    

    <!-- Area Chart Example-->
    

    <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Code Postale</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Etat Compte</th>
              </tr>
            </thead>
             
<tr *ngFor="let item of profilesData">
  
  <td>{{item.nom}}</td>
  <td>{{item.prenom}}</td>
  <td>{{item.adresse}}</td>
  <td>{{item.codepostale}}</td>
  <td>{{item.ville}}</td>
  <td>{{item.pays}}</td>
  <td>{{item.verifier}}</td>
</tr>
           
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

  </div>
  <!-- /.container-fluid -->

  <!-- Sticky Footer -->
  <footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright © Your Website 2019</span>
      </div>
    </div>
  </footer>

</div>
